/**
 * 3. GENERIC
 *
 * @description: reset and/or normalize styles, box-sizing definition,
 * etc. This is the first layer which generates actual CSS.
 */
@include normalize();

@include space-unit-variables();
@include font-preset-variables();
