/**
 * Typography
 */
$distance-section: 3su !default;
$distance-element: 2su !default;

body {
	@include font-preset();
}

/** HEADINGS **/
h1 {
	@include font-preset(xlarge);
	@include margin-vertical(0, $distance-section);
}

h2 {
	@include font-preset(large);
	@include margin-vertical($distance-section, $distance-element);
}

h3 {
	@include font-preset();
	@include margin-vertical($distance-element, 0);
}

/** ELEMENTS **/
p {
	@include font-preset(inherit);
	@include margin-vertical($distance-element, $distance-element);

	h3 + & {
		@include margin-vertical(0, false);
	}
}

hr {
	@include margin-vertical($distance-element, $distance-element);
	@include height(1);

	box-sizing: border-box;
}

blockquote {
	padding: 0;
	border: 0;

	@include margin-vertical(0, 0);
	@include margin-horizontal($distance-element);

	p {
		@include font-preset(large);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

ol,
ul {
	@include font-preset(inherit);
	@include margin-vertical($distance-element);

	& & {
		@include margin-vertical(0)
	}
}

button {
	@include font-preset(inherit);
	@include padding(1su);
}

table {
	@include margin-vertical($distance-element);
}

th,
td {
	@include font-preset(inherit);
}
