$pixel-perfect-class: 'pixel-perfect' !default;

@mixin pixel-perfect($set-font-size: default, $set-line-height: default) {
	$base-font-size: get-config($font-size, $set-font-size, 'small');

	//Loop through different line height breakpoints to calculate correct line space
	@each $breakpoint, $line-height-value in map-get($line-height, $set-line-height) {
		// Try to get font size for current breakpoint
		$get-font-size: get-config($font-size, $set-font-size, $breakpoint);

		// If font size is set for current breakpoint than set font-size. Else use font size of previous line-height breakpoint
		@if ($get-font-size!=null) {
			$base-font-size: $get-font-size;
		}

		//Add breakpoint
		@include breakpoint($breakpoint) {
			//Calculate possible correction difference
			$difference: ($line-height-value - 1) / 2; //$line-height-value Minus default height of font-size Split by 2. So 1.5 becomes .5 split by two become .25
			//Multiply difference and add unit such as rem or px depending on font-size setting for breakpoint
			$correction: $difference * $base-font-size * -1;

			.#{$pixel-perfect-class} > &:first-child,
			.#{$pixel-perfect-class}-top > &:first-child {
				margin-top: $correction;
			}
			.#{$pixel-perfect-class} > &:last-child,
			.#{$pixel-perfect-class}-bottom > &:last-child {
				margin-bottom: $correction;
			}
		}
	}
}