/**
 * SPACE PREFIX TYPE
 * Function to match input on 'padding', 'margin' or 'position' were 'position' returns false
 */
@function space-prefix-type($type) {
	$space-prefix-type-register: (
		padding,
		margin
	);

	@if (index($space-prefix-type-register,$type) == null) {
		@return false;
	}

	@return true;
}

/**
 * SPACE SUPPORT
 * Function to match support for given type
 * @uses $space-support
 */
@function space-support($type) {
	// If support option exists, than match on input
	@if (map-get($space-support,$type) != null and map-get($space-support,$type) == false) {
		@return false;
	}

	// Support by default
	@return true;
}
