@mixin force-classes() {
	.force {
		&::before,
		&-start::before,
		&::after,
		&-start::after {
			content: '';

			display: block;
			height: .1px; // fake height to force the child margin to stay within component
		}

		&::before,
		&-start::before {
			margin-bottom: -.1px; // undo height
		}

		&::after,
		&-start::after {
			margin-top: -.1px; // undo height
		}
	}
}
