/**
 * 5. OBJECTS
 *
 * @description: class-based selectors which define undecorated
 * design patterns, for example media object known from OOCSS
 */

@include space-classes();
@include font-size-classes();

@import "text-column";
