/**
 * 1. SETTINGS
 *
 * @description: used with preprocessors and contain font, colors definitions, etc.
 */
// 3rd party variables used
@import 'foundation-fallback';

// SpaceFramework variables
@import 'space-settings';
@import 'font-presets';
@import 'line-heights';
@import 'layout-presets';
