/*
 * Font Presets
 *
 * @description: A font-preset can be used by using: @include font-preset($value); were $value stands for the font-preset.
 * @example: @include font-preset(default); or
 *           @include font-preset(xlarge);
 *
 * Define font-preset and line-height in space-units
 */

$font-presets: (
	xlarge:(//Mostly used for H1
		font-size: (1.5rem, 2.25rem, 3rem),
		line-height: (3, 4, 5), // defined in space-units
		font: secondary
	),
	large:(//Mostly used for H2
		font-size: (1.25rem, 1.5rem, 2rem),
		line-height: (3, 3.5, 4), // defined in space-units
		font: secondary
	),
	medium:(// Mostly used for Intro text
		font-size: (1rem, 1.125rem, 1.125rem),
		line-height: (2, 2.5, 2.5) // defined in space-units
	),
	default:(// Body font-size
		font-size: 1rem,
		line-height: 2 // defined in space-units
	),
	small:(
		font-size: .875rem,
		line-height: 2 // defined in space-units
	),
	tiny:(
		font-size: (.75rem, .75rem),
		line-height: 1.5 // defined in space-units
	)
) !default;