/*
 * Font Presets
 *
 * @description: A font-preset can be used by using: @include font-preset($value); were $value stands for the font-preset.
 * @example: @include font-preset(default); or
 *           @include font-preset(xlarge);
 *
 * Define font-preset and line-height in space-units
 */
$fonts: (
	default: (
		family: $body-font-family,
		cap-height: .73,
		x-height: .51
	),
	secondary:(
		family: $body-font-family,
		cap-height: .78,
		x-height: .51
	),
) !default;

$font-presets: (
	xlarge:(//Mostly used for H1
		font-size: (1.5rem, 2.25rem, 3rem),
		line-height: (3su, 4su,	5su),
		font: secondary
	),
	large:(//Mostly used for H2
		font-size: (1.25rem, 1.5rem, 2rem),
		line-height: (3su, 3.5su, 4su),
		font: secondary
	),
	medium:(// Mostly used for Intro text
		font-size: (1rem, 1.125rem, 1.125rem),
		line-height: (2su, 2.5su, 2.5su)
	),
	default:(// Body font-size
		font-size: 1rem,
		line-height: 2su
	),
	small:(
		font-size: .875rem,
		line-height: 2su
	),
	tiny:(
		font-size: (.75rem, .75rem),
		line-height: 1.5su
	)
) !default;