/*
 * Font size variables which are used in '@mixin font-size'
 *
 * @description: A font-size can be used by using: @include font-size($value); were $value stands for the font-size.
 * @example: @include font-size(default); or
 *           @include font-size(xlarge);
 *
 * Define font-size and line-height in space-units
 */
$font-presets: (
	xlarge:(//Mostly used for H1
		'small': (1.5rem, 3su),
		'medium': (2.25rem, 4su),
		'large': (3rem, 6su)
	),
	large:(//Mostly used for H2
		'small': (1.125rem, 3su),
		'medium': (1.5rem, 3su),
		'large': (1.5rem, 3su),
	),
	medium:(//Mostly used for Intro text
		'small': (1rem, 2su),
		'medium': (1.125rem, 3su),
		'large': (1.125rem, 3su)
	),
	default:(// Values in default are also used for line-space mixin
		'small': (1rem, 2su),
		'medium': (1rem, 2su),
		'large': (1rem, 2su),
	),
	small:(
		'small': (.875rem, 2su),
		'medium': (.875rem, 2su),
		'large': (.875rem, 2su)
	),
	tiny:(
		'small': (.875rem, 2su),
		'medium': (.75rem, 2su),
		'large': (.75rem, 2su)
	)
) !default;