/*
 * Font Presets
 *
 * @description: A font-size can be used by using: @include font-size($value); were $value stands for the font-size.
 * @example: @include font-size(default); or
 *           @include font-size(xlarge);
 *
 * Define font-size and line-height in space-units
 */

// Future variable to apply different baseline corrections and fonts to the font-presets
/*
 * Font Presets
 *
 * @description: A font-size can be used by using: @include font-size($value); were $value stands for the font-size.
 * @example: @include font-size(default); or
 *           @include font-size(xlarge);
 *
 * Define font-size and line-height in space-units
 */

// Future variable to apply different baseline corrections and fonts to the font-presets
$fonts: (
	default: (
		family: $body-font-family,
		cap-height: .71,
		x-height: .53
	),
	secondary:(
		family: $body-font-family,
		cap-height: .71,
		x-height: .53
	),
) !default;

$font-presets: (
	xlarge:(//Mostly used for H1
		font-size: (1.5rem, 2.25rem, 3rem),
		line-height: (3su, 4su,	6su),
		font: secondary
	),
	large:(//Mostly used for H2
		font-size: (1.125rem, 1.5rem, 1.5rem),
		line-height: (3su, 3su, 3su),
		font: secondary
	),
	medium:(// Mostly used for Intro text
		font-size: (1rem, 1.125rem, 1.125rem),
		line-height: (2su, 3su, 3su)
	),
	default:(// Body font-size
		font-size: 1rem,
		line-height: 2su
	),
	small:(
		font-size: .875rem,
		line-height: 2su
	),
	tiny:(
		font-size: (8.75rem, .75rem),
		line-height: 2su
	)
) !default;