/*
 * Line height variables which are used in '@mixin line-height'
 *
 * @description: A line-height can be used by using: @include line-height($value); were $value stands for the line-height.
 * @example: @include line-height(default); or
 *           @include line-height(small);
 */
$line-height: (
	default:(
		'small': 1.5,
		'medium': 1.7,
	),
	small:(
		'small': 1.3
	),
) !default;