/**
 * Space Rhythm: Define grid setting
 */

// Define the size of your virtual grid units for each breakpoint
$rhythm-grid: (
	small: .6rem,
	medium: .75rem,
	large: .75rem
);

$rhythm-baseline-correction: 0.15; //TODO probably this should be font specific