/**
 * Space Rhythm: Define grid setting
 */

// Define the size of your virtual grid units for each breakpoint
$rhythm: (
	small: .6rem,
	medium: .75rem,
	large: .75rem
);

$rhythmBaselineCorrection: 0.11; //TODO probably this should be font specific