/**************************************************************
 * ADVANCED CORE SETTINGS
 *
 * Context:
 * - Space Support
 * - Space Legacy
 **************************************************************/

/**
 * TYPOGRAPHY SUPPORT
 *
 * Using automatic generation of typographic classes takes much space, you can turn off typography alignment if you don't intend to use it.
 */
$space-support: (
	align-baseline: true,
	align-capline: false,
	align-median: false,
	fit-baseline: true,
	fit-capline: false,
	align-reset: false
) !default;

/**
 * SPACE LEGACY
 *
 * Use $space-legacy if you want to provide support to old browser such as:
 * - IE 11
 * - < Edge 15
 * - < Android 4.4.4
 *
 * SpaceFramework uses modern functions like 'css-variables' to avoid large stylesheets.
 * @source https://caniuse.com/#feat=css-variables
 *
 * Space legacy is true by default, providing max reliability.
 * If you are certain you are up for it, check the provided sources and change $space-legacy to false
 */
$space-legacy: true !default;
