@mixin force-classes() {
	.force {
		&::before,
		&-start::before,
		&::after,
		&-start::after{
			content: '';
			height: 0.1px; // fake height to force the child margin to stay within component
			display: block;
		}

		&::before,
		&-start::before{
			margin-bottom: -0.1px; // undo height
		}

		&::after,
		&-start::after{
			margin-top: -0.1px; // undo height
		}
	}
}