@mixin grid-classes() {
	/**
	 * Edge provides the width of your webpage
	 */
	.edge {
		@include padding-horizontal(1);
		max-width: 1280px;

		margin-right: auto;
		margin-left: auto;
	}

	/**
	 * Grid
	 * @description grid provides the basic settings of the grid
	 */
	.grid {
		display: grid;
		grid-gap: 1rem;
		grid-gap: su(1);
		grid-template-columns: repeat(1, 1fr);
	}

	@each $viewport, $size in $viewports {
		$prefix: '#{$viewport}-';
		@if ($viewport == 'small') {
			$prefix: '';
		}

		@include breakpoint($viewport) {
			// Grid Columns
			@each $columns in $grid-columns {
				.#{$prefix}grid-#{$columns} {
					grid-template-columns: repeat($columns, 1fr);
				}
			}

			// Grid Gap
			@each $gap in $grid-gaps {
				.#{$prefix}grid-gap-#{$gap} {
					grid-gap: su($gap);
				}
			}

			// Grid Row Gap
			@each $gap in $grid-gaps {
				.#{$prefix}grid-row-gap-#{$gap} {
					grid-row-gap: su($gap);
				}
			}

			// Grid Column Gap
			@each $gap in $grid-gaps {
				.#{$prefix}grid-column-gap-#{$gap} {
					grid-column-gap: su($gap);
				}
			}
		}
	}

	/**
	 * Grid Layout
	 * @description Grid Layout provides a 12 column column structure
	 */
	$grid-layout-columns: 12 !default;
	.layout {
		grid-template-columns: repeat($grid-layout-columns, 1fr);

		// Set default width of each column to full width
		> * {
			grid-column-end: span $grid-layout-columns;
		}
	}


	@each $viewport, $size in $viewports {
		$prefix: '#{$viewport}-';
		@if ($viewport == 'small') {
			$prefix: '';
		}

		@include breakpoint($viewport) {

			@for $i from 1 through $grid-layout-columns {
				.#{$prefix}span-#{$i} {
					grid-column-end: span $i;
				}

				.#{$prefix}start-#{$i} {
					grid-column-start: $i;
				}

				.#{$prefix}order-#{$i} {
					order: $i
				}
			}
		}
	}
}