/*
 * Line-height mixin
 *
 * @requires @space-unit-sizes
 *
 * @param $line-height (int in spaceunits)
 */

@mixin line-height($line-height: default) {
	@if map-has-key($line-heights, $line-height) {
		$line-height: map-get($line-heights, $line-height);
	}

	@each $breakpoint, $space-unit-size in $space-unit-sizes {
		@include breakpoint($breakpoint) {
			line-height: convert-space-units($line-height, $breakpoint);
		}
	}
}
