/**
 * Dimension
 * @param $value (in space-units)
 * @param $type (width || height)
 */
@mixin space-dimension($value, $type) {
	@if space-legacy() {
		//Calculate type top
		$breakpoint: last(map-keys($space-unit-sizes));
		$calculated-value: convert-space-units($value, $breakpoint);
		#{$type}: ($calculated-value);
	}

	$value: strip-unit($value);

	@include add-space-unit-variable($value);
	#{$type}: var(#{space-unit-variable($value)});
}

/**
 * Vanilla CSS mixins
 */
@mixin width($value) {
	$type: width;
	@include space-dimension($value, $type)
}

@mixin height($value) {
	$type: height;
	@include space-dimension($value, $type)
}